<div class="footer bg-dark pt-4 pb-4 pl-3 pr-3 fixed-bottom">
    <ul class="d-flex justify-content-between list-unstyled ul-0 m-0">
        <li><a href="https://www.upgrad.com/contact/" class="text-decoration-none text-white">Contact Us</a></li>
        <li><p class="text-decoration-none text-white text-muted m-0">© upGrad</p></li>
        <li>
            <ul class="d-flex justify-content-between ul-0">
                <li><a href="https://www.facebook.com/upGradGlobal/" class="text-decoration-none text-white pr-4">Facebook</a></li>
                <li><a href="https://twitter.com/UpGrad_Edu" class="text-decoration-none text-white">Twitter</a></li>
            </ul>
        </li>
    </ul>
</div>